.image{
  height: 500px;
  width: 420px;
}
.prod{
  background-color: black;
  min-height: 800px;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
*{
  color: white;
}
h3{
  height: 140px;
}
